/* setjum box-sizing: border-box; á allt */

html {
	box-sizing: border-box;
	font-size: 16px;
	line-height: 1.5;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

body {
	margin: auto;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
}

main {
	margin: 0 auto;
	overflow-x: hidden;
}


/* Header */
header {
	position: relative;
	z-index: 2;
}

.header-container {
	width: 100%;
	height: 900px;
	position: relative;
}

.header-bg {
	background: transparent url(../images/earth3.jpg) no-repeat fixed center;
	height: 900px;
	background-position: center;
	background-size: cover;
	position: relative;
	color: white;
	font-size: 25px;
}
.h-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fffbf9;
	z-index: 10;
	position: relative;
}

.m-title h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	letter-spacing: 10px;
	font-size: 180px;
	margin-top: 0px;
	color: #05EDFF;
}

.undertitle {
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	font-size: 50px;
	color: #05EDFF;
}

.header-btn {
	position: relative;
	top: 80px;
}

.header-btn a {
	display: inline-block;
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
}

.btn {
	color: black;
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	width: 240px;
	height: 50px;
	border-radius: 3px;
	background: #05EDFF;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 20px;
	letter-spacing: 1px;
	transition: all 0.1s ease;
}

.btn:hover {
	color: white;
	background: black!important;
}

/* NAVIGATION BAR Í HEADER */
.navbar {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  height: 230px;
}

.nav {
  display: flex;
  height: 70px;
	background: transparent url(../images/earth3.jpg) no-repeat fixed center;
	background-position: center;
	background-size: cover;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
}

.navbar a {
  float: right;
  font-size: 25px;
  color: white;
  text-align: center;
  padding: 20px 53px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 25px;    
  border: none;
  outline: none;
  color: white;
  padding: 20px 53px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(255, 255, 255, 0.2);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color:white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #05EDFF;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* LEITA EFTIR STAÐSETNINGU */
.flokkar-tree {
  padding: 10px 20px;
    margin-bottom: 1.5em;
  }
    .flokkar-tree label {
        cursor: pointer;
        display: block;
    }
.layer2, .layer3 {
    margin-left: 20px;
}
.flokkar-tree-cb {
  visibility: hidden;
  width: 0;
  height: 0;
}
.flokkar-tree-label {
  vertical-align: 2px;
    font-family: sans-serif;
    color: #5a5a5a;
}
.flokkar-tree-cb:checked + .flokkar-tree-label {
    font-weight: bold;
    color: #05EDFF;
}
.flokkar-tree-branches {
  display: none;
}
.flokkar-tree-cb:checked + .flokkar-tree-label + .flokkar-tree-branches {
  display: block;
}
.flokkar-tree-label::before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: -2px;
  margin-right: 6px;
}

/* FORSÍÐAN - SEARCH */
.searchfield {
	margin-top: 4em;
}
table.search tr td {
	text-align: left;
	font-size: 1.5em;
	font-weight: bold;
}
.leiticon {
	padding-right: 0.5em;
}
.leitfield {
	width: 300px;
	height: 50px;
	border: 1px solid #ccc;
	 border-radius: 4px;
	font-size: 20px;
}
input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

input[type=text]:focus {
	outline: none !important;
	border:1px #5a5a5a;
	box-shadow: 0 0 10px #5a5a5a;
}

/* FORSÍÐAN - AUGLÝSINGALISTI */
.row {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
	margin-top: 20px;
}

.col {
	padding-right: 10px;
	padding-left: 10px;
}

.col3-left {
	width: 25%;
	padding-left: 3em;
}

.col9-right {
	width: 75%;
	display: flex;
}

.text {
	margin-left: 1em;
	margin-top: 12em;
	margin-left: 1em;
	font-size: 1.5em;
}

.text_fyrirsogn {
	font-size: 1.7em;
}

.listi {
	width: 100%;
	margin-top: 3em;
	font-size: 1.5em;
}

.auglysing {
	font-size: 1.7em;
	margin-bottom: 0.6em;
	padding: 15px 15px 15px 30px;
	font-weight: bold;
}

.nyauglysing {
	margin-top: 1.3em;
	margin-bottom: 1em;
	font-size: 3em;
}

table.formtable {
	width: 95%;
	border-spacing: 1em;
	border-collapse: separate;
	padding-bottom: 3em;
}

.rows {
	box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.formtable td {
	padding: 15px;
	text-align: left;
}

.formtable th {
	padding: 15px;
	text-align: left;
}

table.formtable tr:nth-child(even) {
	background-color: white;
}

table.formtable tr:nth-child(odd) {
	background-color: white;
	text-decoration: none;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: pink;
}

a:active {
	text-decoration: underline;
}

.img {
	width: 150px;
	height: 150px;
	
	display: flex;
  justify-content: center;
  align-items: center;
}

.img img {
	max-width: 100%;
	max-height: 100%;
}

.augHeiti:hover {
	cursor: pointer;
}


/* FÓTUR */

.footer {
	width: 100%;
	margin-top: 20px;
	background: transparent url(../images/earth3.jpg) no-repeat fixed center;
	background-position: center;
	background-size: cover;
	position: relative;
}

.footer__grid {
	max-width: 1200px;
	padding-top: 10px;
	padding-bottom: 60px;
	margin: 0 auto;
}

.footer__row {
	display: flex;
	margin-right: -10px;
	margin-left: -10px;
}

.footer__col {
	width: 25%;
	padding-right: 10px;
	padding-left: 10px;
}

.footer__links {
	margin-top: 20px;
	display: flex;
	height: 100%;
	list-style: none;
	flex-direction: column;
}

.footer__link {
	font-family: "Open Sans", helvetica, sans-serif;
	font-size: 24px;
	line-height: 1.8;
	color: white !important;
	text-decoration: none;
	transition-timing-function: ease-in-out;
	transition-duration: 300ms;
	transition-property: color;
}

.footer__link:hover {
	color: #05EDFF;
}

.footer__credit {
	color: white;
	padding-bottom: 60px;
	margin: 0 auto;
	font-family: "Open Sans", helvetica, sans-serif;
	font-size: 16px;
	text-align: center;
	justify-content: center;
}
