html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
 }

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

body {
  max-width: 2200px;
  margin: auto;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

main {
  max-width: 2200px;
  margin: 0 auto;
  overflow-x: hidden;
}

header {
  position: relative;
  z-index: 2;
}

.header-bar {
  background: linear-gradient(to right, rgba(127, 114, 94, 0.41) 0%, rgba(128, 116, 99, 0.07) 36%, rgba(128, 116, 98, 0.33) 65%, rgb(91, 113, 106) 100%) !important;
}

.header-bg {
  background: transparent url(../images/earth3.jpg) no-repeat fixed center;
  height: 400px;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-size: 25px;
}


.header-container {
  width: 100%;
  height: 400px;
  position: relative;
}

.h-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fffbf9;
  z-index: 10;
  position: relative;
/*  top: 11%;*/
}
.m-title h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  letter-spacing: 10px;
  font-size: 120px;
}
.m-title h1 a {
  text-decoration: none;
  color: #05EDFF;
}
.navbar {
  height: 140px;
  z-index: 20;
  box-shadow: none;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  margin: 0;
  padding: 0;
  height: 70px;
	background: transparent url(../images/earth3.jpg) no-repeat fixed center;
	background-position: center;
	background-size: cover;
  position: fixed;
  width: 100%;
}

.nav a {
  margin: 0 30px;
  position: relative;
  color: white;
  text-decoration: none;
}
.nav a:hover {
  color:  #05EDFF;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 20px;
}
.col {
  padding-right: 10px;
  padding-left: 45em;
}
  .col-left {
    width: 80%;
  }

  .text {
      margin-left: 1em;
      margin-top: 2em;
      font-size: 2em;
    }

  .text_leitaeftir {
    font-size: 1.5em;
  }

  .text_trengja {
    font-size: 1.5em;
  }

  .nyauglysing {
    margin-top: 1.3em;
    margin-bottom: 1em;
    font-size: 3em;
    font-weight: bold;
  }
  
  .submit {
    float: right;
    padding-top: 2.5em;
    padding-right: 12em;
  }

.innskrabutton {
  background-color: black;
  border-radius: 3px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-color: black;
  font-weight: bold;
}
.innskrabutton:hover {
  background-color:#05EDFF;
  color: black;
  border-color: #05EDFF;
}

.tafla td {
  padding: 20px 20px 20px 0;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}
.errorMessage {
  padding-top: 20px;
  font-size: 20px;
  color: red;
}

table.formtable {
    border: 1px black solid;
}

.formtable td {
    padding: 15px;
    text-align: left;
}

table.formtable tr:nth-child(even) {
    background-color: antiquewhite;
}

table.formtable tr:nth-child(odd) {
    background-color: azure;
}

/* FÓTUR */
.footer {
  width: 100%;
  margin-top: 20px;
  background: transparent url(../images/earth3.jpg) no-repeat fixed center;
  background-position: center;
  background-size: cover;
  position: relative;
}
  .footer__grid {
    max-width: 1200px;
    padding-top: 10px;
    padding-bottom: 60px;
    margin: 0 auto;
  }

  .footer__row {
    display: flex;
    margin-right: -10px;
    margin-left: -10px;
  }

  .footer__col {
    width: 25%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .footer__links {
    margin-top: 20px;
    display: flex;
    height: 100%;
    list-style: none;
    flex-direction: column;
  }

  .footer__link {
    font-family: "Open Sans", helvetica, sans-serif;
    font-size: 24px;
    line-height: 1.8;
    color: white;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    transition-property: color;
  }

  .footer__link:hover {
    color: #05EDFF;
  }

  .footer__credit {
    color: white;
    padding-bottom: 60px;
    margin: 0 auto;
    font-family: "Open Sans", helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    justify-content: center;
  }